#logoHenry {
  margin-right: 20px;
}

.navbar-brand {
  transition: 0.25s ease-in-out;
}

.navbar-brand:hover {
  opacity: 70%;
}

.aboutLink {
  transition: 0.25s ease-in-out;
}

.aboutLink:hover {
  opacity: 70%;
}